<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- link icon -->
    <link rel="icon" type="image/x -icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Jumpman_logo.svg/200px-Jumpman_logo.svg.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- link swiper for zoom image slides -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <title>Nike, Just Do It!</title>
</head>


<body>
{% block header %}
    <!-- header -->
    <header>
        <div class="container">
            <div class="header__content">
                <button class="btn-open-menu">
                    <i class="bx bx-menu"></i>
                </button>
                <div class="header__logo">
                    <img src="./assets/bg/nike_logo.png" alt="logo">
                </div>
                <nav>
                    <button class="btn-close-menu">
                        <i class="bx bx-left-arrow-alt"></i>
                    </button>
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#">Man</a>
                        </li>
                        <li>
                            <a href="#">Woman</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a class="regis" href="/register">Register</a>
                        </li>
                        <li>
                        {% if app.user %}
							<div class=" sign">
						    <strong>Signed in as
							<a class="user">{{ app.user.email }}</a>
							 |</strong>
							</div>
						{% endif %}
                        </li>
                        <li>
                            <a class="log" href="/{{ app.user ? 'logout' : 'login' }}" @click="isOpen = false">
								{{ app.user ? 'Sign out!' : 'Sign in!' }}
							</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#" onclick="showAlert()"><i class="fa-solid fa-phone"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </footer>
    <!-- /Footer -->
    {% endblock %}



    <!-- swiper -->
    <script>
		function showAlert() {
			// Hiển thị thông báo alert
			alert("Contact Us Via Phonenumber: 0988041826");
		}
	</script>
    <script src="https://kit.fontawesome.com/25d713b41f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="./app.js"></script>
</body>

</html>
